<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
	
  	<root level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
	
	<logger name="de.evoila.cf" level="DEBUG" />
	
	<logger name="org.springframework.core" level="DEBUG" />
	
	<logger name="org.springframework.beans" level="DEBUG" />
	
	<logger name="org.springframework.context" level="DEBUG" />
	
	<logger name="org.springframework.web" level="DEBUG" />
	
	<logger name="org.springframework.security" level="DEBUG" />
	
	<logger name="org.apache.http" level="DEBUG" />
	
	<logger name="com.github.dockerjava" level="DEBUG" />
	
	<logger name="org.springframework.jndi" level="DEBUG" />

	<logger name="org.springframework.web.client.RestTemplate" level="DEBUG" />
		
</configuration>
